html {
  font-family: Verdana, sans-serif;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}

.montserrat {
  font-family: Montserrat, sans-serif;
}

.blue {
  color: #347ea5;
}

.white {
  color: #fff;
}

.grey-back {
  background-color: #f5f5f5;
}

.link {
  text-decoration: none;
}

.btn-banner {
  padding: .7em 1.2em;
  background-color: #fff;
  color: #000;
  border: 1px solid #347ea5;
  text-decoration: none;
  border-radius: 8px;
}

.btn {
  padding: .7em 1.2em;
  border: 1px solid #fff;
  font-family: Montserrat, sans-serif;
}

.btn-ghost {
  border: 1px solid #347ea5;
  transition: all .35s ease-in-out;
  background-color: #fff;
}

.btn-ghost:hover {
  background-color: #347ea5;
  border-color: #347ea5;
  color: #fff;
  transform: scale(1.08);
}

.btn-ghost-white {
  border: 1px solid #fff;
  transition: all .35s ease-in-out;
  background-color: #347ea5;
}

.btn-ghost-white:hover {
  border: 1px solid #fff;
  transform: scale(1.05);
  background-color: #fff;
  color: #347ea5;
}

header [type="checkbox"]#menutoggle + label::before {
  position: absolute;
  left: -1000000px;
}

/* NAVIGATION */

.menu {
  width: 240px;
  height: 100%;
  position: absolute;
  background-color: white;
  left: -240px;
  border: 1px solid black;
  z-index: 1;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

nav a {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid black;
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #347ea5;
  color: #fff;
}

.logo {
  width: 225px;
  transition: all .2s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

nav {
  width: 100%;
  text-align: center;
}

/* ----------------------------------------- */

label.menu-icon {
  padding: 10px;
  color: #fff;
  cursor: pointer;
  float: left;
  border-radius: 5px;
  width: 44px;
  transition: all .2s ease-in-out;
}

label img.open {
  transition: all .2s ease-in-out;
}

label.menu-icon:hover {
  transform: scale(1.1);
}

.close {
  display: none;
}

#menutoggle {
  display: none;
}

#menutoggle:checked ~ label img.open {
  transform: rotate(90deg);
}

#menutoggle:checked ~ .menu {
  left: 0;
}

/* BANNER */

.banner {
  background: url("../images/banner.jpg") center bottom / cover no-repeat;
  height: 425px;
}

.banner-content {
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, .3);
}

/* WHAT WE DO */

.about-icon {
  border-bottom: 3px solid #347ea5;
}

/* INSTRUCTIONS */

.instructions {
  background-color: #347ea5;
}

.instructions-text {
  font-family: Montserrat, sans-serif;
}

/* ADOPTION */

.cat-img {
  transition: all .2s linear;
}

.cat-img:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/* DID YOU KNOW */

.did-you-know {
  background-color: #f5f5f5;
}

/* FORM */

input,
textarea,
select {
  border: 1px solid #347ea5;
  background-color: #fcfcfc;
  display: inline-block;
  border-radius: 5px;
}

/* FOOTER */

footer {
  background-color: #f5f5f5;
}

footer p {
  color: #000;
}

.logo-footer {
  width: 250px;
}

.sm-icon {
  width: 32px;
}

.social-media {
  width: 32px;
}

.sm-icon:hover {
  transform: scale(1.1);
}

/* ---------ADOPTIONS PAGE----------- */

.adoption-banner {
  background: url("../images/adoptions-banner.jpg") 70% center / cover no-repeat;
  height: 375px;
}

.cat-card {
  max-width: 400px;
  margin: 0 auto;
}

/* ---------APPLY PAGE----------- */

.apply-banner {
  background: url("../images/apply-banner.jpg") center bottom / cover no-repeat;
  height: 425px;
}

.border-btm {
  border-bottom: 1px solid #95989a;
}

.price-card {
  border: 5px solid #347ea5;
  border-radius: 10px;
  height: 100%;
}

.price-icon {
  max-width: 235px;
  margin: 0 auto;
}

fieldset {
  border: none;
}

@media only screen and (min-width: 38em) {

  .banner {
    height: 500px;
  }

  .cat-card {
    max-width: 1000px;
  }

  .about-icon {
    border: none;
  }

  .about-text {
    text-align: left;
  }

  .middle {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

}

@media only screen and (min-width: 60em) {

  nav a {
    display: block;
    background-color: #fff;
    color: #000;
    padding: 1em .5em;
    border: none;
  }

  nav li {
    display: inline-block;
  }

  .nav-info {
    display: none;
  }

  nav {
    text-align: right;
  }

  .menu {
    width: 70%;
    height: 60px;
    position: static;
    background: #fff;
    display: inline-block;
    border: none;
  }

  label.menu-icon {
    display: none;
  }

  #brand {
    display: inline-block;
    height: auto;
    width: 25%;
    padding-left: .5em;
  }

  .banner {
    height: 500px;
    overflow: hidden;
  }

  .about-text {
    text-align: center;
  }

  .about-icon {
    border-bottom: 3px solid #347ea5;
  }

  .adoption-banner {
    height: 500px;
    overflow: hidden;
  }

  .apply-banner {
    height: 500px;
    overflow: hidden;
  }

}

@media only screen and (min-width: 90em) {

  .adoption-banner {
    height: 600px;
  }

  .apply-banner {
    height: 550px;
    background: url("../images/apply-banner.jpg") center center / cover no-repeat;
  }

}
