html {
  font-family: 'Verdana', sans-serif;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.blue {
  color: #347EA5;
}

.white {
  color: #fff;
}

.grey-back {
  background-color: #f5f5f5;
}

.button {
  border: 1px solid #347EA5;
  font-family: 'Montserrat', sans-serif;
  padding: .7em 1.3em;
  text-transform: uppercase;
}

.button-small {
  border: 1px solid #347EA5;
  font-family: 'Montserrat', sans-serif;
  padding: .7em 1.2em;
  text-transform: uppercase;
}

.button-blue {
  color: #347EA5;
  border-color: #347EA5;
}

.button-blue:hover {
  background-color: #347ea5;
  color: #fff;
  transition: all .35s;
}

.button-white {
  color: #fff;
  border-color: #fff;
}

.button-white:hover {
  background-color: #fff;
  color: #347ea5;
  transition: all .35s;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
/*NAVIGATION*/

nav a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

nav a:hover {
  transform: scale(1.03);
}

header {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #EEE;
}

#brand {
  color: #fff;
  font-size: 25px;
  margin: 0 0 0 6px;
  font-family: "Montserrat", sans-serif;
  height: 60px;
  text-align: center;
}

.logo {
  margin-top: 25px;
  width: 225px;
  transition: all .2s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

nav {
  width: 100%;
  text-align: center;
}

nav a {
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #fff;
	color: #fff;
}
nav a:hover {
  background: #1D516C;
}

/*-----------------------------------------*/

.menu {
  width: 240px;
  height: 100%;
  position: absolute;
  background: #347EA5;
  left: -240px;
  z-index: 1;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

label.menu-icon {
  padding: 10px 10px;
  color: #fff;
  cursor: pointer;
  float: left;
  margin-top: 11px;
  border-radius: 5px;
  width: 44px;
  transition: all .2s ease-in-out;
}

label img.open {
  transition: all .2s ease-in-out;
}

label.menu-icon:hover {
  transform: scale(1.1);
}

.close {
  display: none;
}

#menuToggle {
  display: none;
}

#menuToggle:checked ~ label img.open {
  transform: rotate(90deg);
}

#menuToggle:checked ~ .menu {
  left: 0;
}

/*BANNER*/
.banner {
  background: url(../images/banner.jpg) center bottom / cover no-repeat;
  height: 425px;
}

.banner-content {
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}

/*WHAT WE DO*/
#description {
  background-color: #F5F5F5;
}

.about-card {
  background-color: #ffffff;
  margin: 1em auto;
}

.about-icon {
  border-bottom: 3px solid #347ea5;
}

/*INSTRUCTIONS*/
.instructions {
  background-color: #347EA5;
}

.instructions-text {
  font-family: 'Montserrat', sans-serif;
}

/*ADOPTION*/

.cat-img {
  transition: all .2s linear;
}

.cat-img:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/*DID YOU KNOW*/

.did-you-know {
  background-color: #F5F5F5;
}

/*FORM*/

input,
textarea {
  border: 1px solid #D6D6D6;
  background-color: #FCFCFC;
}

/*FOOTER*/

footer {
  background-color: #F5F5F5;
}

.sm-icon {
  margin: 0 .5em;
}

/*---------ADOPTIONS PAGE-----------*/

.adoption-banner {
  background: url(../images/adoptions-banner.jpg) 70% center / cover no-repeat;
  height: 375px;
}

.cat-card {
  max-width: 400px;
  margin: 0 auto;
}

@media only screen and (min-width: 38em) {

.banner {
  height: 500px;
}

}

@media only screen and (min-width: 60em) {

  .nav-info {
    display: none;
  }

  nav a {
    display: block;
    background-color: none;
    color: #347EA5;
    font-size: .8rem;
    padding: 1em .5em;
  }

  nav li {
    display: inline-block;
    width: auto;
  }

  nav {
    display: inline-block;
    text-align: right;
  }

  ol {
  display: inline-block;
  }

  .menu {
    width: 70%;
    height: 60px;
    position: static;
    background: #fff;
    display: inline-block;
    text-align: right;
  }

  label.menu-icon {
    display: none;
  }

  .about-text {
    text-align: left;
  }

  #brand {
    display: inline-block;
    height: auto;
    width: 25%;
    padding-left: .5em;
  }

  .logo {
    float: left;
    width: 275px;
  }

  .banner {
    height: 600px;
    overflow: hidden;
  }

  .about-card {
    width: 275px;
    margin: .5em;
  }

  .about-text {
    text-align: center;
  }

}
